@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1faee;
}

button {
    display: inline-block;
    background-color: #6d6875;
    color: #fff;
    border: none;
    font-size: 1.5em;
}

button.clear, button.backspace, button.divide, button.multiply {
    background-color: #293241;
}

button.equals {
    background-color: #e76f51;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.calculator {
    margin: auto;
    width: 360px;
    background-color: #001219;
    border-radius: 15px;
}

.calculator-inner {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.display {
    display: grid;
    grid-column: span 4;
    padding: 10px;
    background-color: #e9c46a;
    border-radius: 5px;
}

.display-value {
    align-self: end;
    justify-self: end;
    font-size: 3em;
}

.height-fix {
    height: 70px;
}

.column-span {
    grid-column: span 2;
}

.row-span {
    grid-row: span 2;
}

.dark-bg {
    background-color: #2020;
}